#graphic
 width 600px
 height 200px
 background-color: #eee


.bar:hover {
  fill: brown;
}

.bar-chart text {
  fill: black;
  font: 10px sans-serif;
  text-anchor: middle;
}

.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}